/Changes.tmp
/.calva/
/.clj-kondo/
/.lsp/
/.nrepl-port
/demo-assets
gljrepl/
/*.bb
/*.clj
/*.glj
/*.go
/*.html
/*.js
/*.md
/*.ys
/app
/gloat*
/test/call
/test/call.clj
worktree/*/workspace/
worktree/*/go.work
worktree/*/go.work.sum
